<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Face Detection</title>
  <script defer src="face-api.min.js"></script>
  <script defer src="script.js"></script>

  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    canvas {
      position: absolute;
    }

    video{
      margin-left: 300px;
    }
  </style>
</head>
<body>

  <video id="video" width="720" height="560" autoplay muted></video>

  <!-- Add this section for suggested songs -->
  <div id="suggested-songs">
    <h2>Suggested Songs</h2>
    <ul>
      <!-- Songs will be dynamically added here -->
    </ul>
  </div>

</body>
</html>
